a,body,div,h1,h3,html,li,p,ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: 0;
}

a:active,a:hover {
  outline: 0;
}

html {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}



@font-face {
  font-family: "93stf-v";
  src: url(../type/93tf/93-Custom-Regular.woff2);
  font-style: normal;
}

@font-face {
  font-family: "SuisseIntlMono-Regular";
  src: url(../type/93tf/SuisseIntlMono-Regular-WebS.woff2);
  font-style: normal;
}



:root {
  --white: #fcfcfc;
  --blacktext: rgba(0, 0, 0, .95);
  --greytext: rgba(0, 0, 0, .75);
  --linkcolor: rgba(0, 0, 0, .95);
  --desertsand: #eabda8;
  --bluecrayon: #2646ff;
  --isabelline: #f4f4f4;
  --licorice: #101011;
  --fontSize: 15px;
  --lineHeight: calc(var(--fontSize) * 1.5);
  --spacingv: calc(var(--lineHeight) / 2);
  --basicfont: -apple-system, BlinkMacSystemFont, "Segoe UI",                Roboto,                Oxygen-Sans,                Ubuntu,                Cantarell,                "Helvetica Neue",                sans-serif;
  --variablefont: "93stf-v";
  --monofont: "SuisseIntlMono-Regular";
}

html {
  height: 100%;
  font-size: var(--fontSize);
  background-color:#000;
}


h1,h2,h3 {
  font-family: var(--monofont);
  margin: 0 0 1rem 0;
  line-height: 1.2;
  font-weight: normal;
}

h1{
  font-size:32px;
  margin-bottom:64px;
}

h2{
  font-size:15px;
  font-family: var(--variablefont);
}

p{
  font-size:15px;
  font-family: var(--variablefont);
  line-height:1.3;
}